
.card-body {
    background-color: #051622;
    padding-top: 5px;
    border: none;
    .card-img{
        width: 300px;
    }

}

.btn.btn-link {
    color: white;
    font-weight: 500;
     

}

.fav-movie{
    margin-bottom: 20px;
    figure {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin:auto;
        width: 100%;
        img{
            display:block;
            height: 300px;
            margin:auto;
        }
        figcaption{
            text-align: center;
        }
       
    }
}

.card{
    margin-bottom: 20px;
}